*{
    padding: 0px;
    margin: 0px;
    font-family: "Archivo Narrow", Helvetica, Arial, sans-serif;
}

header{
    width: 100%;
    /* height: 100vh; */
    background-image: url("img/pattern-gray.jpg");
    background-color: #243238;
    background-size: 100px;
}

nav{
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo{
    width: 240px;
    height: 100px; 
    background-color: #dc6226;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.logo-icon{
    margin-left: 20px;
    padding-right: 10px;

}

.logo-text{
    text-align: center;
}


.logo-title{
    color: white;
    font-size: 45px;
    margin-top: 10px;  
}

.logo-text{
    font-size: 10px; 
    font-weight: bolder;
    color: white;
    line-height: 28px;    
}

.nav-menu{
    flex: 1;
    text-align: left;
    display: block;
    margin-left: 50px;
}


.nav-menu ul li{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}

.nav-menu ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 13.5px;
    font-weight: bolder;
    letter-spacing: 0.05em;
}

.nav-menu ul li a:hover{
    color: #dc6226;;
}


.social-icon ul li{
    list-style: none;
    display: inline;
    margin: 0px 8px;
}

.social-icon ul li a{
    text-decoration: none;
    color: #3e4a50;


    width: 25px;
    height: 25px;
    background-color: #adadad9f;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
}

.social-icon ul li a:hover{
    background-color: #dc6226;;
}

.slide-area{
    width: 100%;
    margin: 0px auto;
    position: relative;
}

.slide-image img{
    width: 100%;

    display: block;   
}

.slide-text{
    left: 50%;
    bottom: 0%;
    transform: translate(-50%);
    position: absolute;
    width: 450px;
    margin: 0px auto;
    text-align: center;
    background-color: #dc6226;
    padding: 19px 120px;
    line-height: 2.2em;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}


/* ---------------- sucess-section --------------- */
.sucess-section{
    padding-top: 65px;
    margin: 0px auto;
}

.section-title{
    width: 80%;
    margin: 0px auto;
}

.section-title h2{
    font-size: 38px;
    color: #3e4a50;
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.text-orange h2{
    color: #dc6226;
}

.section-title h4{
    font-size: 22px;
    color: #3e4a50;
    font-weight: 400;
    text-align: center;
    margin-bottom: 45px;
    line-height: 1.7em;
}

.row{
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    text-align: center;
}

.sucess-col{
    flex-basis: 23%;
    padding: 15px;
    /* border: 1px solid black; */
    box-sizing: border-box;
    overflow: hidden;
}

.sucess-col i{
    width: 65px;
    height: 65px;
    background-color: #dc6226;
    border-radius: 50%;
    text-align: center;
    line-height: 65px;
    color: white;
    margin-bottom: 20px;
    transition: 1s;  
}

.sucess-col i:hover{
    background-color: #3e4a50;
}

.sucess-col h3{
    margin-bottom: 25px;
    color:#3e4a50de;
}

.sucess-col p{
    font-size: 14px;
    color:#3e4a50b2;
    line-height: 1.8em;
}

.hero-btn{
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #3e4a50b2;
    text-decoration: none;
    color: #3e4a50;
    padding: 10px 20px;
    font-weight: bolder;
}

.hero-btn:hover{
    border: 1px solid #dc6226;
    color: #dc6226;
    transition: 0.3s;
}


/* ------------ advice-section ------------ */
.advice-section{
    width: 100%;
    height: 100vh;
    background-image: url("img/pattern-white.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 80px;    
    margin: 0px auto;
    text-align: center;
}

.advice-col{
    flex-basis: 30%;
    height: 415px;
    background-color: white;
    padding: 15px 10px;
}

.col-text{
    margin: 0px 35px;
}

.col-text h5{
    font-size: 30px;
    margin: 28px 0px 10px;
    color: #dc6226;
}

.col-text p{
    font-size: 15px;
    line-height: 1.5em;
    color:#3e4a50b2;
}

.col-text i{
    margin-top: 20px;
    font-size: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.col-text i:hover{
    color: #dc6226;
}


/* ------------ money section -------------- */

.money-section{
    width: 100%;
    height: 380px;
    margin: 0px auto;
    background-color: #dc6226;
    display: flex;
}

.left-side{
    flex-basis: 50%; 
    display: block;
    position: relative;
    color: white;   
}

.left-text-area{
    padding: 3% 20%;
    display: block;
}

.money-section h4{
    font-size: 40px;
    margin-bottom: 15px;
}

.money-sec-liststyle{
    padding: 10px 0px;
}

.money-sec-liststyle li{
    list-style: none;
    line-height: 2em;
}

.money-sec-liststyle li a{
    text-decoration: none;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.money-btn{
    color: white;
    border: 1px solid white;
    margin-top: 30px;
}

.money-btn:hover{
    background-color: white;
    color: #3e4a50;
    border: none;
}


.right-side{
    flex-basis: 50%;
    background-image: url(img/pattern-gray.jpg);
    background-position: center;
    overflow: hidden;
    color: white;
    display: block;
}

.right-text-area{
    padding: 3% 10%;
    display: block;
}

.right-text-area p{
    margin-top: 5px;
    line-height: 1.8em;
    font-size: 18px;
}


/* ----------- fade-up-animation-bar ------------ */
.fade-up-animation-bar{
    width: 80%;
    height: 120px;
    margin: 0px auto;
    padding-top: 50px;
    text-align: center;
}

.slider-image-area{
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
    margin-bottom: 5%;
}

.slider-image-area img{
    width: 100%;}

.sider-image-area a{
    width: 120px;
    margin: 0px 20px;
}


/* -------------- contact-section ------------- */
.contact-form{
    width: 100%;
    height: 400px;
    background-image: linear-gradient(rgba(41, 39, 39, 0.25),
    rgba(41, 39, 39, 0.25)
    ), url("img/contact-bg.jpg");
    background-position: center;
    background-size: cover;
}

form{
    width: 80%;
    margin: 0px auto;
    padding-top: 60px
}

.field-area{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: transparent;
}

.left-field{
    flex-basis: 30%;
    /* padding: 10px 30px; */
}

.field-area input{
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    outline: none;
    border: 1px solid white;
    background-color: #10111162; 
    color: white;  
}

::placeholder{
    color: white;
}

.right-field{
    flex-basis: 65%;
    /* padding: 30%; */
}

.right-field textarea{
    width: 100%;
    box-sizing: border-box;
    background-color: #10111162;
    border: 1px solid white;
    outline: none;
    padding: 10px 20px;
}

.right-field ::placeholder{
    line-height: 20px;
}

/* -------------- contact-icon-section -------------- */
.contact-icon-section{
    width: 100%;
    height: 250px;
    background-image: url("img/pattern-light-gray.jpg");
    background-position: center;
    text-align: center;
}

.row-cont-icon{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}

.con-icon-col{
    flex-basis: 30%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-sec-logo{
    flex-basis: 25%;
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

.contact-sec-logo i{
    width: 70px;
    height: 70px;
    line-height: 70px;
    /* padding: 20px; */
    background-color: #dc6226;
    outline: white;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 8px rgba(197, 197, 197, 0.541);
    color: #3e4a50;
    color: white;
}

.contact-sec-text{
    flex-basis: 75%;
    text-align: left;
    text-transform: uppercase;
    color: white;
}

.contact-sec-text a{
    text-decoration: none;
    color: white;
}

.contact-sec-text:hover a{
    color: #dc6226;
}

.contact-sec-text h3:hover{
    color: #dc6226;
}





